@import "@/presentation/styles/color.scss";

* {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="password"],
input[type="email"] {
  border: 1px solid $primaryLight;
  border-radius: 4px;
  line-height: 40px;
  padding: 0px 40px 0px 8px;

  &:focus {
    outline-color: $primaryLight;
  }
}

button {
  background-color: $primary;
  border: none;
  border-radius: 8px;
  color: $white;
  font-size: 16px;
  line-height: 60px;

  &:hover {
    opacity: 0.9;
  }
}

.login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .form {
    background-color: $white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    align-self: center;
    box-shadow: 0px 1px 3px -1px $black;

    h2 {
      color: $primaryDark;
      font-size: 20px;
      text-align: center;
      text-transform: uppercase;
    }

    .inputWrap {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin-top: 16px;
      position: relative;

      input {
        flex-grow: 1;
      }

      .status {
        font-size: 12;
        cursor: help;
        position: absolute;
        right: 8px;
      }
    }

    .submit {
      margin-top: 24px;
    }

    .link {
      color: $primary;
      margin-top: 16px;
      text-align: center;
      text-transform: lowercase;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      } 
    }

    .errorWrap {
      align-items: center;
      display: flex;
      flex-direction: column;

      .spinner {
        margin-top: 32px;
      }

      .error {
        margin-top: 32px;
        color: $primaryLight;
      }
    }
  }  
}