@import "@/presentation/styles/color.scss";

.header {
    align-items: center;
    background-color: $primary;
    border-top: 40px solid $primaryDark;
    display: flex;
    flex-direction: column;

    img {
      margin-top: 40px;
    }

    h1 {
      color: $white;
      margin: 16px 0px 40px;
    }
  }